<p>you're playing the shakespeare game!</p>

<p>
  <%= @game.quote %>
</p>

<ul>
  <li> <%= @game.play %></li>
  <li> <%= @randomGame1.play %></li>
  <li> <%= @randomGame2.play %></li>
  <li> <%= @randomGame3.play %></li>
</ul>
