
<form action="/quotes/<%= @quote.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="">play_id</label>
  <input type="text" name="play_id" value="<%= @quote.play_id %>">

  <label for="">script</label>
  <input type="text" name="script" value="<%= @quote.script %>">

  <label for="">character</label>
  <input type="text" name="character" value="<%= @quote.character %>">

  <button>update</button>
</form>

<form action="/quotes/<%= @quote.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>
